@tailwind base;
@tailwind components;
@tailwind utilities;

.checkmark {
  display: inline-block;
  transform: rotate(45deg);
  height: 30px;
  width: 16px;
  border-bottom: 7px solid #7b9730;
  border-right: 7px solid #7b9730;
}
